@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = this.Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
<div id="cookieConsent" class="alert alert-info alert-dismissible fade show row" role="alert">
    <p id="cookieParagraf" class="col-md-10" style="margin:0px;"> Tapasrestaurant.bg използва „бисквитки“ и подобни технологии на нашия уеб сайт, за да подобри производителността, функционалността и за целите на анализа.</p>
   
    <button id="btnAccept" type="button" class="accept-policy close col-md-2" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
        <span aria-hidden="true">Съгласен</span>
    </button>
</div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function () {
                document.cookie = button.dataset.cookieString;
                document.getElementById('cookieConsent').style.display = 'none';
            }, false);
        })();
    </script>
}
