@using Tapas.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "_IndexLayout";
}

<nav class="white" role="navigation">

    <div class="nav-wrapper">
        <div class=" container-custom">
            <ul class="left"><li><a href="/" class="b-l"></a></li></ul>
            <ul class="left hide-on-small-and-down">
                <li><a href="/Administration/Products">Меню</a></li>
                <li><a href="/Administration/CateringFood/">Кетъринг</a></li>
                <li><a href="/Orders/UserOrders">Моите поръчки</a></li>
                <li><a asp-area="" asp-controller="ShopingCart" asp-action="Index" style="font-size:2rem;">🛒</a></li>
            </ul>

            <ul class="right hide-on-small-and-down">
                @if (this.SignInManager.IsSignedIn(this.User))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="height: 64px; padding-top: 8px;">
                            <img src="https://res.cloudinary.com/duxtyuzpy/image/upload/c_scale,h_48,q_100,w_48/v1590151208/sharp_person_black_48dp.png" />
                        </a>
                    </li>
                    if (this.User.IsInRole(GlobalConstants.AdministratorName))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
                        </li>
                    }
                    else if (this.User.IsInRole(GlobalConstants.OperatorName))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index" title="Orders">Поръчки</a>
                        </li>

                    }
                    <li class="nav-item">
                        <a asp-area="Identity" asp-page="/Account/Logout" class="nav-link text-dark">Изход</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
                    </li>
                }
            </ul>
            <a href="#" data-target="nav-mobile" class="dropdown-btn right"><i id="menu-icon" class="material-icons">menu</i></a>
        </div>
    </div>
</nav>
<div class="dropdown-container">
    <div class="dropdown-item"> <a href="/Administration/Products">Меню</a></div>
    <div class="dropdown-item">
        <a href="/Administration/CateringFood/">Кетъринг</a>
    </div>
    <div class="dropdown-item">
        <a href="/Administration/Products">Моите поръчки</a>
    </div>
    <div class="dropdown-item">
        <a asp-area="" asp-controller="ShopingCart" asp-action="Index" style="font-size:2rem;">🛒</a>
    </div>
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <div class="dropdown-item">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="height: 64px; padding-top: 8px;">
                <img src="https://res.cloudinary.com/duxtyuzpy/image/upload/c_scale,h_48,q_100,w_48/v1590151208/sharp_person_black_48dp.png" />
            </a>
        </div>

        if (this.User.IsInRole(GlobalConstants.AdministratorName))
        {
            <div class="dropdown-item"> <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a></div>

        }
        else if (this.User.IsInRole(GlobalConstants.OperatorName))
        {
            <div class="dropdown-item">
                <a asp-area="" asp-controller="Orders" asp-action="Index">Поръчки</a>
            </div> 
         }
        <div class="dropdown-item"><a asp-area="Identity" asp-page="/Account/Logout">Изход</a></div>

    }
    else
    {
        <div class="dropdown-item"><a asp-area="Identity" asp-page="/Account/Register">Регистрация</a></div>

        <div class="dropdown-item"><a asp-area="Identity" asp-page="/Account/Login">Вход</a></div>

    }
</div>
@if (DateTime.UtcNow.TimeOfDay.Add(new TimeSpan(3, 0, 0)) > GlobalConstants.CloseTime || DateTime.UtcNow.TimeOfDay.Add(new TimeSpan(3, 0, 0)) < GlobalConstants.OpenTime)
{
    if (DateTime.UtcNow.TimeOfDay.Add(new TimeSpan(3, 0, 0)) > GlobalConstants.CloseTime)
    {
        <div id="alert" class="alert alert-danger " role="alert">
            <div id="closed" class="center">Затворено. Ще приемаме поръчки отново утре в @GlobalConstants.OpenTime.ToString("hh':'mm") часа.</div>
        </div>
    }
    else
    {
        <div id="alert" class="alert alert-danger " role="alert">
            <div id="closed" class="center">Затворено. Ще приемаме поръчки отново в @GlobalConstants.OpenTime.ToString("hh':'mm") часа.</div>
        </div>
    }

}
else if (DateTime.UtcNow.TimeOfDay.Add(new TimeSpan(3, 0, 0)) < GlobalConstants.CloseTime && DateTime.UtcNow.TimeOfDay.Add(new TimeSpan(3, 0, 0)) > GlobalConstants.LastOrderTime)
{
    <div id="alert" class="alert alert-danger " role="alert">
        <div id="lastOrder" class="center">Последни поръчки. Затваряме в @GlobalConstants.CloseTime.ToString("hh':'mm") часа.</div>
    </div>
}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Ресторант Тапас</h1>
            <div class="row center">
                <div class="header col s12 light secondHeader">Опитайте вкусните ни предложения, където и да сте</div>
            </div>
            <div class="row center">
                <a href="/Administration/Products/Index" class="btn-large waves-effect waves-light teal lighten-1">Към менюто</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="~/Images/Кашкавалчета.webp" alt="Кашкавалчета"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">

            <div style="width: 50%; margin: 0 auto;">
                <a href="/Administration/CateringFood/">
                    <div class="icon-block">


                        <h2 class="center"><img src="~/Images/food.png" alt="Catering icon"/></h2>
                        <div class="header-5" style="color:black;">Решения за кетъринг</div>

                        <p class="light center-align" style="color:black;">Тук можете да разгледате нашите предложения за вкусната част на вашите събития. Превъзходно оформени плата с вкусни хапки от които вашите гости ще останат възхитени.</p>

                    </div>
                </a>
            </div>

            @*<div class="col s12 m6">
                <a href="/Administration/CateringEquipment/">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">User Experience Focused</h5>

                        <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                    </div>
                </a>
            </div>*@

            @*<div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>

                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                </div>
            </div>*@
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <div class="header col s12 light header-5">Няма по-откровена любов от любовта към храната</div>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/Images/Кошничка.webp" alt="Кошничка"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>За нас</h4>
                <p class="center-align light">
                   В ресторант TAPAS е празник всеки ден. Тази година ние празнуваме 10-ата си годишнина, утвърждавайки се през последното десетилетие като любимо място на стотици наши клиенти, които ни избират за организирането на семейни тържества, кръщенета, сватби, банкети, детски рождени дни или обикновена вечер с приятели. С повод или без повод при нас ще бъдете посрещнати от усмихнат персонал, ще можете да се насладите на вкусна храна и да се забавлявате на нашите тематични партита и вечери с музика на живо.
                </p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Човек не може да мисли, обича или спи хубаво, ако първо не е вечерял хубаво</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/Images/Торта.webp" alt="Торта"></div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <ul class="col l6 s12">
                <li><div class="white-text header-5" style="text-align:left;">Контакти</div></li>
                <li>
                    <div>Телефон за резерваций:&nbsp;&nbsp;<a class="contacts-links" href="tel:+359886582257">0886 58 22 57</a> </div>               
                </li>
                <li>
                    <div>Телефон за поръчки:&nbsp;&nbsp;<a class="contacts-links" href="tel:+359885565621">0885 56 56 21</a></div>
                </li>
                <li>
                    <div>Телефон за поръчки:&nbsp;&nbsp;<a class="contacts-links" href="tel:+35982520503">082 52 05 03</a></div>
                </li>
                <li>
                    <div>Адрес:&nbsp;&nbsp;<a class="contacts-links" target="_blank" rel="noreferrer" href="https://www.google.com/maps/place/Tapas+Bar/43.8313163,25.9754988,17z/data=!4m5!3m4!1s0x40ae5f2b9e386061:0xe1a28167a14476aa!8m2!3d43.8312593!4d25.9776342">Русе кв.Чародейка-Юг ул. Ганчо Карамаждраков</a></div>
                </li>
            </ul>
            <div class="col l3 s12">
                <ul>
                    <li><a style="background-color: #4267B2" class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/tapasruse/" target="_blank" rel="noopener"><span class="fa fa-facebook"></span></a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <div class="mt-3 mb-3" style="width:initial"><img src="~/Images/tapasLogo.png" style="width:inherit" alt="Logo" /></div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
           
        </div>
    </div>
</footer>






